basicAuthUsername: <username>
basicAuthPassword: <password>
dbUserPassword: <database-password>

ataka:
  publicUrl: https://ataka.ad.tertsonen.xyz
  basicAuthUsername: ataka
  basicAuthPassword: <ataka-basic-auth-password>
  ctf: testctf
  dataStore: /data
  exploitCpuset: ""
  postgresUser: ataka
  postgresPassword: <ataka-postgres-password>
  pythonUnbuffered: "1"
  rabbitmqUser: ataka
  rabbitmqPassword: <ataka-rabbitmq-password>
  userId: "1000:966"
  openvpn:
    enabled: false
  openvpnConfig: |
    client
    dev tun
    proto udp
    remote <vpn-host> <vpn-port>
  openvpnFiles: {}
